body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

button, .button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h3, h4 {
  margin-bottom: 0;
}

nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 95%;
  background: white;
  overflow: auto;
}

nav ul {
  list-style-type: none;
  white-space:nowrap;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 16px 16px;
}

nav a:hover {
  background: black;
  color: white;
}

#page-body {
  max-width: 700px;
  margin: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}

.list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
}

.image-20 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.image-40 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.image-60 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.image-80 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.image-100 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
